<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cohetes</title>
</head>
<body>
    <h1>Rockets</h1>
    <button type = "button" onclick="">Create rocket 1</button>
    <button type = "button" onclick="">Create rocket 2</button>   
    <button type = "button" onclick="">Accelerate rocket 1</button>   
    <button type = "button" onclick="">Accelerate rocket 2</button>   
    <button type = "button" onclick="">Brake rocket 1</button>   
    <button type = "button" onclick="">Brake rocket 2</button>   
    <div class="rocketsInfo">

    </div>
</body>
</html>